.mdl-layout__header-row
  padding-left: 24px !important

.page-content
  text-align: center

.project-card-square.mdl-card
  width: 320px
  height: 320px

.project-card-square > .mdl-card__title
  color: #fff
  background: center 15% no-repeat #6592FF

#grid
  max-width: 1500px
  margin: 0 auto

#jobs
  margin: 0 auto
  table-layout: fixed
  width: 1400px

.job_details
  width: 100px
  word-wrap: break-word
  white-space: normal