extends layout

block content
    h2 Contact Info
    p Email me at #[a(href='mailto:nicholas@nicholasnassar.com') nicholas@nicholasnassar.com]
    iframe#github(src='https://ghbtns.com/github-btn.html?user=niccholaspage&type=follow&count=false&size=large', frameborder='0', scrolling='0')