doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='Nicholas Nassar&#39;s portfolio')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
        title=context.title
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en')
        link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.3.0/material.deep_purple-blue.min.css", integrity="sha256-3Os2G5RMcZSMNK7EmQd/0V7svpGA53iYVyw6jXS27P8=", crossorigin="anonymous")
        link(rel='stylesheet', href='/assets/css/styles.css')
        link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    body
        .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
            header.mdl-layout__header.mdl-layout__header--waterfall.portfolio-header
                .mdl-layout__header-row.portfolio-logo-row
                    span.mdl-layout__title
                        .portfolio-logo
                        span.mdl-layout__title Nicholas Nassar
                .mdl-layout__header-row.portfolio-navigation-row.mdl-layout--large-screen-only
                    nav.mdl-navigation.mdl-typography--body-1-force-preferred-font
                        a.mdl-navigation__link(href='/') Portfolio
                        a.mdl-navigation__link(href='/contact') Contact
            .mdl-layout__drawer.mdl-layout--small-screen-only
                nav.mdl-navigation.mdl-typography--body-1-force-preferred-font
                    a.mdl-navigation__link(href='/') Portfolio
                    a.mdl-navigation__link(href='/contact') Contact
            main.mdl-layout__content
                block content
                footer.mdl-mini-footer
                    .mdl-mini-footer__left-section
                        .mdl-logo Nicholas Nassar
                    .mdl-mini-footer__right-section
                        // ul.mdl-mini-footer__link-list
                            li
                                a(href='#') Help
                            li
                                a(href='#') Privacy & Terms
        script(src="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.3.0/material.min.js", integrity="sha256-PCfu4+fnQrp4wNmVbjN1eaX4LbOvOejab0UOhjLezrw=", crossorigin="anonymous")
        script(src='/assets/js/base.js')
        block endscripts
