{{ define "main" }}
<div class="container">
    <div class="p-3 pb-md-4 mx-auto text-center border-bottom">
        <h1 class="display-4 fw-normal">Nicholas Nassar</h1>
        <p class="fs-5 text-muted">University of Toledo '21, Computer Science and Engineering</p>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github"
            viewBox="0 0 16 16">
            <path
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
        </svg>
        <span><a href="https://github.com/niccholaspage/">@niccholaspage</a></span>
        <br>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill"
            viewBox="0 0 16 16">
            <path
                d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
        </svg>
        <span><a href="mailto:nicholas@nicholasnassar.com">nicholas@nicholasnassar.com</a></span>
    </div>

    <div class="row pt-2">
        <div class="col-md">
            <h1 class="display-5 text-center">About</h1>
            <p>Hello, my name is Nicholas Nassar and I'm currently studying Computer Science and Engineering at the
                University
                of Toledo! My interest in programming started in 2010 when I decided to learn Java to create
                modifications
                for videogames I played.</p>
            <p>Fast-forward to now, and I've been finishing up my coursework and working with lots of backend and
                frontend technologies for online e-commerce
                as
                well as internal company applications.</p>
        </div>
        <div class="col-md offset-md-1">
            <h1 class="display-5 text-center">Skills at a Glance</h1>
            <div class="row">
                <div class="col">
                    <p>Proficient:</p>
                    <ul>
                        <li>Java</li>
                        <li>Kotlin</li>
                        <li>Python</li>
                        <li>Javascript</li>
                        <li>Linux</li>
                    </ul>
                </div>
                <div class="col">
                    <p>Experienced:</p>
                    <ul>
                        <li>Vue</li>
                        <li>HTML</li>
                        <li>CSS</li>
                        <li>Hugo</li>
                    </ul>
                </div>
                <div class="col">
                    <p>Familiar:</p>
                    <ul>
                        <li>C++ & C</li>
                        <li>C#</li>
                        <li>Android</li>
                        <li>Flutter</li>
                        <li>SQL</li>
                        <li>Docker</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <h1 class="display-5 text-center pt-5">Work Experience</h1>
    {{ range .Site.Data.experience }}
    <h3>{{ .role }} at {{ .company }}</h3>
    {{ if .tagline }}
    <p>{{ .tagline | markdownify }}</p>
    {{ end }}
    <p class="text-muted">{{ .time }}</p>
    <ul>
        {{ range .points }}
        <li>{{ . | markdownify }}</li>
        {{ end }}
    </ul>
    {{ end }}
    <h1 class="display-5 text-center pt-5 pb-3">Projects</h1>
    <style>
        pre {
            border: 1px solid #6c757d !important;
            padding-left: 5px;
        }
    </style>
    {{ range .Site.Data.projects }}
    <div class="row pb-2">
        <div class="col-md">
            <h2>{{ .name | markdownify }} ({{ .language }})</h2>
            <p>{{ .description | markdownify }}</p>
        </div>
        <div class="col-md">
            {{ if .sample }}
            {{ .sample | markdownify }}
            {{ else }}
            <img src="{{ .image }}" class="img-fluid">
            {{ end }}
        </div>
    </div>
    {{ end }}
    <footer class="pt-5 my-5 text-muted border-top">
        Nicholas Nassar &middot; 2021
    </footer>
</div>
{{ end}}